<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whpe.qrcode.shandong_jining">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".GYDZApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activity.realtimebus.BusRouteMapActivity"></activity>
        <activity android:name=".activity.MeActivity" />
        <activity android:name=".activity.ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivityMypurse" />
        <activity android:name=".activity.ActivityPayPurse" />
        <activity android:name=".activity.ActivityConsumrecords" />
        <activity android:name=".activity.ActivitySettings" />
        <activity android:name=".activity.ActivityQrcode" />
        <activity android:name=".activity.ActivityUsehelp" />
        <activity
            android:name=".activity.ActivityLogin"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".activity.ActivityPayWeb" />
        <activity android:name=".activity.ActivityNewsWeb" />
        <activity android:name=".activity.ActivityTitleWeb" />
        <activity android:name=".activity.ActivityAboutUs" />
        <activity android:name=".activity.ActivityCloudRechargeCard" />
        <activity android:name=".activity.ActivityNewsAndAdvertiseWeb" />
        <activity android:name=".activity.realtimebus.ActivityRealTimeBusShowBusInfo" />
        <activity android:name=".activity.realtimebus.ActivityRealTimeBusSearch" />
        <activity android:name=".activity.realtimebus.ActivityRealTimeBusHome" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.whpe.qrcode.shandong_jining.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath" />
        </provider> <!-- 百度定位 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="A3OPsudm5Zs0GZ3H64ySWH9xH1UrEP5e" />
    </application>

</manifest>